.cart-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 32px auto;
    margin-bottom: 8px;
    padding: 0 32px;
}

.cart-container h1{
    margin-bottom: 8px;
}

.cart-container h2 {
    margin-bottom: 8px;
}

.user-added {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 48px;
    padding: 64px 32px;
    gap: 20px;

    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 35px rgba(59,130,246,.08);

    background: linear-gradient(180deg,
    #23282e 0%,
    #1b2026 50%,
    #14181d 100%);
}

.cartHeader-product {
    display: flex;
    width: 110px;
    padding-left: 15px;
}

.cartHeader-productName {
    display: flex;
    width: 470px;
    padding-left: 130px;
}

.cartHeader-price {
    display: flex;
    width: 240px;
    padding-left: 150px;
}

.cartHeader-quantity {
    display: flex;
    width: 230px;
    padding-left: 140px;
}

.cart-header {
    display: flex;
    flex-direction: row;
}

.added-item{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 10px;
    width: 1072px;
}

.added-item h4 {
    max-width: 350px;
}

.added-item p {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.added-item input {
    background-color: transparent;
    border: 1px solid #686e75;
    border-radius: 6px;
    color: white;
    width: 50px;
    height: 32px;
    text-align: center;
}

.added-item button {
    width: 32px;
    height: 32px;
    color: white;
    background-color: #212830;
    border-color: #3d444d;
    border-radius: 6px;
}

.checkout-btn {
    color: white;
    background: #252b33;
    border-color: #3d444d;
    border-radius: 6px;
    height: 40px;
    font-size: medium;
}

