.product-card {
    background: #232d3f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.product-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.product-card button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
}