/* Chrome, Safari, Edge, Opera */
.user-cart input[type="number"]::-webkit-inner-spin-button,
.user-cart input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.user-cart input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
    color: white;
}